*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  img{
    width: 1000px;
    height:600px;
  }

  .slider{
    width: 1000px;
    height: 600px;
    display: flex;
   flex-direction: row;
    overflow: hidden;
    position: relative;
    
  }

   .slider-container{
    
    transition: transfoem 0.25s;

   }

   button{ 

     position: absolute ;
     background-color: rgb(97, 76, 214);
     border: none;
     width: 25px;
     height: 30px;
     color:white;
     opacity: 50%;
     border-radius: 40px;
     cursor: pointer;

   } 

   .prev{
    left: 2px;
   }

   .next{
    right:2px;
   }

   button:hover{
    opacity: 90%;
   }